/* Lexend, my beloved */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');

/* Base */
html {
  background-color: #a1ccd1;
}

body {
  font-family: 'Lexend', sans-serif;
}

/* Display */
#bingo-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 40px;
}

.display-character {
  padding: 30px 40px;
  border: 4px solid red;
  border-radius: 60px;
  font-size: 41px;
  line-height: 45px;
  font-weight: 700;
  background-color: #ffffff;
}

/* Table */
#bingo-table {
  width: 98%;
  display: table;
  background-color: #ffffff;
  margin: 0 auto;
}

#table-body {
  display: table-row-group;
}

.table-tr {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: 2px solid #dddddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: center;
}

.table-th {
  font-weight: 700;
  border-color: orangered;
}

.table-td {
  font-weight: 500;
  color: #777777;
}

.is-active {
  color: #000000;
  border-color: #000000;
  background-color: rgb(185, 226, 185);
}

/* Buttons */
#bingo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 40px;
}

.btn {
  border: 2px solid black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 24px;
  cursor: pointer;
}

#btn-clear {
  background-color: #f44336;
}

#btn-raffle {
  background-color: #008CBA;
}

